<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='quiz.css') }}">
</head>
<body>
    <h1>QUIZ GAME!!!!</h1>
    <div  id="quiz-box">
        <h3 id="question">Question Lorem ipsum dolor sit.</h2>
        <ul>
            <li>
                <input type="radio" name="answers" id="a">
                <label for="a" id="aa">Option Lorem ipsum dolor sit.</label>
            </li>
            <li>
                <input type="radio" name="answers" id="b">
                <label for="b" id="bb">Option Lorem ipsum dolor sit.</label>
            </li>
            <li>
                <input type="radio" name="answers" id="c">
                <label for="c" id="cc">Option Lorem ipsum dolor sit.</label>
            </li>
            <li>
                <input type="radio" name="answers" id="d">
                <label for="d" id="dd">Option Lorem ipsum dolor sit.</label>
            </li>
        </ul>
        <h4 id="result">score : 0</h4>
        <button class="btn" id="submit" type="button" onclick="displayRadioValue()">SUBMIT</button>
    </div>
    <script src="{{ url_for('static', filename='quiz.js') }}"></script>
</body>
</html>